.nextButton {
    position: relative;
    margin: 0 auto;
    top: 40vh;
    width: 100px;
    height: 40px;
    background-color: rgb(199, 0, 0);
    border: 2px solid #ffe2e2;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    color:#ffffff;
    font-size: 20px;
    font-weight: 500;
}